/* ===== LABEL COMPONENT STYLES ===== */
/* Block: pcp-label - Label component using BEM methodology */

.pcp-label {
  /* Base label styles */
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1;
  color: hsl(var(--pcp-color-foreground));
  
  /* Peer disabled states */
  &:has(.pcp-peer:disabled) {
    cursor: not-allowed;
    opacity: 0.7;
  }
}

/* Support for peer selector pattern */
.pcp-peer:disabled ~ .pcp-label {
  cursor: not-allowed;
  opacity: 0.7;
} 